#home {
  display: flex;
  height: 100vh;
  background-color: #f6f6f6;
}

#home-left {
  flex: 1;
  margin: 100px;
}

#home-left-info-title {
  font-size: 2rem;
  margin-top: 50px;
}

#home-left-info-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#home-left-clerk {
  display: flex;
  flex-direction: column;
  width: 300px;
}
#home-image {
  flex: 1;
  position: relative;
  height: 100vh;
}
